<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Client</title>
</head>
<body>

<h1>Create New Client</h1>

<div>
    <form action="#" th:action="@{/clients}" th:object="${clientDto}" method="post">

        <table>
            <tr>
                <td>
                    <label th:text="#{label.firstName}"></label>
                </td>
                <td>
                    <input type="text" th:field="*{firstName}" class="small" th:errorclass="fieldError">
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect date</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="#{label.lastName}"></label>
                </td>
                <td>
                    <input type="text" th:field="*{lastName}" class="small" th:errorclass="fieldError">
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect date</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="#{label.email}"></label>
                </td>

                <td>
                    <input type="text" th:field="*{email}" class="small" th:errorclass="fieldError">
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</span>
                </td>
            </tr>

            <tr>
                <td><label th:text="#{label.phone}"></label></td>
                <td>
                    <input type="text" th:field="*{phone}" class="small" th:errorclass="fieldError">
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect date</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><input type="submit" name="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${#fields.hasGlobalErrors()}">
    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
</div>

<div>
    <a href="/">Go Back Home</a>
</div>


</body>
</html>