<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Client</title>
</head>
<body>

<h1>Create New Client</h1>

<div>
    <form method="post" action="/clients">
        <table>
            <tr>
                <td><label>FirstName</label></td>
                <td><input type="text" name="firstName"></td>
            </tr>
            <tr>
                <td><label>LastName</label></td>
                <td><input type="text" name="lastName"></td>
            </tr>
            <tr>
                <td><label>Phone</label></td>
                <td>
                    <input type="text" name="phone"></input>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><input type="submit" name="submit"></td>
            </tr>
        </table>

    </form>
</div>

</body>
</html>