<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <div th:replace="fragments :: com-head"></div>
</head>
<body>

<header>
    <div th:replace="fragments :: navBar"></div>
</header>

<h1>Error Page</h1>

<div>
    <table>
        <tbody>
        <tr th:each="error:${errs}">
            <td th:text="${error}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="fragments::foot"></div>

</body>
</html>