<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="com-head">
    <link rel="stylesheet" href="css/styles.css">
</div>

<div th:fragment="navBar">
    <p>
        <nav role="navigation" aria-label="main menu">
            <a href="/">Home</a>|
            <a href="/login">Login</a>|
            <a href="/showclients">Show Existing Clients</a>|
            <a href="/showrooms">Show Rooms</a>
        </nav>
    <hr>
    </p>
</div>

<div th:fragment="foot">
    <footer>
        <hr>
        <P>
            Phone: 9999 8888 <br>
        </P>
    </footer>
</div>

</body>
</html>