<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragments :: com-head"></div>
</head>

<header>
    <div th:replace="fragments :: navBar"></div>
</header>

<p>
<h1>Login in </h1>
</p>
<table>
    <tbody>
    <tr>
        <td>
            <label for="userName">Username: </label>
        </td>
        <td>
            <input type="text" name="userName" id="userName">
        </td>
    </tr>
    <tr>
        <td>
            <label for="pwd">Password: </label>
        </td>
        <td>
            <input type="text" name="password" id="pwd">
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td align="right">
            <input type="submit" name="submit" value="Login">
        </td>
    </tr>
    </tbody>
</table>
<a href="/createclient">Register as a new user</a>
<p>

</p>


<body>

</body>
</html>