<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragments :: com-head"></div>
</head>

<body>

<header>
    <div th:replace="fragments :: navBar"></div>
</header>

<p>
<h1>Login In</h1>
</p>

<p>
<form action="#" th:action="@{/submitLogin} " th:object="${login}" method="post">
    <table>
        <tbody>
        <tr>
            <td>
                <label for="userName">Username: </label>
            </td>
            <td>
                <input type="text" name="loginName" id="userName" th:text="${login.loginName}" th:errorclass="fieldError">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('loginName')}" th:errors="*{loginName}">Incorrect date</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="pwd">Password: </label>
            </td>
            <td>
                <input type="text" name="password" id="pwd" th:text="${login.password}" th:errorclass="fieldError">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</span>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td align="right">
                <input type="submit" name="submit" value="Login">
            </td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
</form>
</p>

<p>
    <a href="/createclient">Register as a new user</a>
</p>

<div class="error">
    <span th:text="${err}"> </span>
</div>

<div th:replace="fragments::foot"></div>

</body>
</html>