<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Existing Clients</title>
    <div th:replace="fragments :: com-head"></div>
</head>
<body>

<header>
    <div th:replace="fragments :: navBar"></div>
</header>

<h1>Existing Clients</h1>

<div>
    <table>
        <thead>
        <tr>
            <th><span th:text="#{label.firstName}"></span></th>
            <th><span th:text="#{label.lastName}"></span></th>
            <th><span th:text="#{label.email}"></span></th>
            <th><span th:text="#{label.phone}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client:${clients}">
            <td th:text="${client.firstName}"></td>
            <td th:text="${client.lastName}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.phone}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer>
    <div th:insert="fragments::foot"></div>
</footer>


</body>
</html>