<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <div th:replace="fragments :: com-head"></div>
</head>
<body>

<header>
    <div th:replace="fragments :: navBar"></div>
</header>

<H1>Rooms</H1>

<div>
    <table>
        <thead>
        <tr>
            <th><span th:text="#{label.room.name}"></span></th>
            <th><span th:text="#{label.room.num}"></span></th>
            <th><span th:text="#{label.room.info}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room:${rooms}">
            <td>
                <span th:text="${room.name}"></span>
            </td>
            <td>
                <span th:text="${room.roomNum}"></span>
            </td>
            <td>
                <span th:text="${room.bedInfo}"></span>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<footer>
    <div th:insert="fragments::foot"></div>
</footer>

</body>
</html>